{%- import '_all_macros.jinja2' as m -%}

server {
{{ m.server_prelude_ssl(domain, base_dir) }}
{{ m.ssl_step_prelude(domain) }}
{{ m.security_headers(csp_extra, skip_hsts) }}
{{ m.security_internal_ips() }}
{{ m.security_deny_dot() }}
{% block location_block_https %}{% endblock %}
}

server {
{{ m.server_prelude(domain, base_dir) }}
{{ m.security_internal_ips() }}
{{ m.security_deny_dot() }}
{{ m.location_redirect_https() }}
}

{% block extras %}{% endblock %}
