{%- from '_location_proxy.conf.jinja2' import location_proxy_sso, location_proxy, location_redirect_https -%}
{%- from '_server_prelude_ssl.conf.jinja2' import server_prelude_ssl, server_prelude -%}
{%- from '_security.conf.jinja2' import security_internal_ips, security_headers, security_deny_dot -%}
{%- from '_ssl.conf.jinja2' import ssl_step_prelude -%}

{%- set domain = 'ca.home.youd.family' -%}
{%- set base_dir = '/var/www/ca.home.youd.family' -%}

server {
{{ server_prelude_ssl(domain, base_dir) }}
{{ ssl_step_prelude(domain) }}
{{ security_headers("", true) }}
{{ security_internal_ips() }}
{{ security_deny_dot() }}
}

server {
{{ server_prelude(domain, base_dir) }}
{{ security_internal_ips() }}
{{ security_headers("", true) }}
{{ security_deny_dot() }}
}
