{%- extends '_basic.conf.jinja2' -%}

{%- set basename = 'calibre' -%}
{%- set domain = basename ~ '.home.youd.family' -%}
{%- set base_dir = '/var/www/' ~ domain -%}
{%- set skip_hsts = true -%}

server {
{{ m.server_prelude_ssl(domain, base_dir) }}
{{ m.ssl_step_prelude(domain) }}
{{ m.security_headers(csp_extra, skip_hsts) }}
{{ m.security_internal_ips() }}
{{ m.security_deny_dot() }}
{{ m.location_proxy('/', proxy_pass) }}
}

server {
{{ m.server_prelude(domain, base_dir) }}
{{ m.security_headers(csp_extra, skip_hsts) }}
{{ m.security_internal_ips() }}
{{ m.security_deny_dot() }}
{{ m.location_proxy('/', proxy_pass) }}
}

{% block extras %}
    {% include('_internal_server_block.conf.jinja2') %}
{% endblock %}
