{%- extends '_basic.conf.jinja2' -%}

{%- set basename = 'deluge' -%}
{%- set domain = basename ~ '.home.youd.family' -%}
{%- set base_dir = '/var/www/' ~ domain -%}
{%- set proxy_pass = 'http://127.0.0.1:8112' -%}
{%- set sso_group = "Deluge" -%}
{%- set csp_extra = "'unsafe-inline' 'unsafe-eval'" -%}

{% block location_block_https %}
    {{ m.location_proxy_sso('/', proxy_pass, sso_group) }}
{% endblock %}

{% block extras %}
    {% include('_internal_server_block.conf.jinja2') %}
{% endblock %}
