{%- extends '_basic.conf.jinja2' -%}

{%- set basename = 'intranet' -%}
{%- set domain = basename ~ '.home.youd.family' -%}
{%- set base_dir = '/var/www/intranet.home.youd.family' -%}

{% block extras %}
    {% include('_internal_server_block.conf.jinja2') %}
{% endblock %}
