{%- extends '_basic.conf.jinja2' -%}

{%- set basename = 'tautulli' -%}
{%- set domain = basename ~ '.home.youd.family' -%}
{%- set base_dir = '/var/www/' ~ domain -%}
{%- set proxy_pass = 'http://127.0.0.1:8181' -%}
{%- set sso_group = "Tautulli" -%}
{%- set csp_extra = "'unsafe-inline'" -%}

{% block location_block_https %}
    {{ m.location_proxy_sso('/', proxy_pass, sso_group) }}
    {{ m.location_proxy('/api', proxy_pass) }}
{% endblock %}

{% block extras %}
    {% include('_internal_server_block.conf.jinja2') %}
{% endblock %}
