{%- extends '_basic.conf.jinja2' -%}

{%- set basename = 'xteve' -%}
{%- set domain = basename ~ '.home.youd.family' -%}
{%- set base_dir = '/var/www/' ~ domain -%}
{%- set proxy_pass = 'http://127.0.0.1:34400' -%}
{%- set sso_group = "xTeVe" -%}
{%- set csp_extra = "'unsafe-inline'" -%}

{% block location_block_https %}
    {{ m.location_proxy('= /', proxy_pass) }}
    {{ m.location_proxy('~ /(m3u|xmltv)', proxy_pass) }}
    {{ m.location_proxy_sso('/', proxy_pass, sso_group) }}
{% endblock %}
